.about {
  width: 100%;
  min-height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.aboutContent {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.aboutContent p {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
}

@media (max-width: 768px) {
  .about {
    width: 100%;
    min-height: 94vh;
  }
  .aboutContent {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .aboutContent p {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px){
  .about {
    width: 100%;
    display: block;
    min-height: 94vh;
    padding-top: 3rem;
  }
  .aboutContent {
    flex-direction: column;
    align-items: center;
    gap: .2rem;
  }
  .aboutContent p {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
@media (max-width: 885px){
  .about{
    width: 100%;
    min-height: 94vh;
  }
  .aboutContent{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .aboutContent p{
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
